%nav.navbar.navbar-expand-lg.navbar-light.bg-danger.bg-gradient
  .container-fluid.justify-content-between
    .navbar-brand.h2= link_to 'Cherry-Online', books_path, class: 'text-decoration-none text-body'
